/* Start of styling global elements */
* {
  box-sizing: border-box;
}

:root {
  --main-color: #ff9800;
  --paragraph-color: #767676;
  --padding-section: 60px;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* End of styling global elements */

/* start of styling components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* start of styling grid system */

/* Small Screens */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* Medium Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Desktop Screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Large Screens */
@media (min-width: 11200px) {
  .container {
    max-width: 1140px;
  }
}

/* end of styling grid system */

.special-heading {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
}
/* end of styling components */

/* start of styling settings box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 5;
  min-height: 100vh;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 1px solid #eee;
}

.settings-box .reset-options {
  background-color: #f44336;
  border: none;
  color: white;
  width: 178px;
  margin: 10px auto;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: block;
  cursor: pointer;
}

.settings-box.open {
  left: 0;
}

.settings-box .icon {
  position: absolute;
  right: -30px;
  top: 100px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  i {
    padding: 8px 0;
    width: 30px;
  }
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.5;
  border: 2px solid #fff;
}
.settings-box .option-box .colors-list li.active {
  opacity: 1;
  border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
.settings-box .option-box span {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  opacity: 0.5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.settings-box .option-box span:hover {
  opacity: 0.8;
}
.settings-box .option-box span.active {
  opacity: 1;
}

/* end of styling settings box */

/* start of styling bullets navigation bar */
.nav-bullets {
  position: fixed;
  width: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 100;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  position: absolute;
  right: 32px;
  top: -10px;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .bullet .tooltip::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* end of styling bullets navigation bar */

/* Start of styling Landing Section */
.landing {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing .container {
  position: relative;
  z-index: 100;
}

.landing header {
  position: relative;
  z-index: 2;
  display: flex;
  color: #fff;
  align-items: center;
}

.landing header .logo {
  width: 300px;
  padding: 15px;
}

.landing header .logo a {
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing header .logo a:hover {
  box-shadow: 0px 0px 1px 0px;
  border-radius: 4px;
}

.landing header .links-container {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.landing header .links {
  list-style: none;
  padding-left: 0;
}

.landing header .toggle-menu {
  display: none;
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.landing header .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: -24px;
  left: 10px;
}
@media (max-width: 991px) {
  .landing header .links {
    display: none;
  }
  .landing header .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: left;
  }

  .landing header .toggle-menu {
    display: block;
  }
}

.landing header .toggle-menu:focus {
  outline: none;
}

.landing header .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}
.landing header .links li {
  display: inline-block;
  margin-left: 10px;
}
.landing header .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 991px) {
  .landing header .links.open li {
    margin: 10px;
    display: block;
  }
  .landing header .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
}
.landing header .links li a:hover,
.landing header .links li a.active {
  color: var(--main-color);
}
.landing .intro-text {
  z-index: 2;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.landing .intro-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
/* Small Screens */
@media (max-width: 576px) {
  .landing .intro-text h1 {
    font-size: 30px;
  }
}
.landing .intro-text h1 span {
  color: var(--main-color);
}
.landing .intro-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* Small Screens */
@media (max-width: 576px) {
  .landing .intro-text p {
    font-size: 18px;
  }
}
/* End of styling Landing Section */

/* start of styling about us section */
.about-us {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
  }
}

.about-us .info-box {
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }

  .about-us .image-box {
    margin: auto;
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: var(--paragraph-color);
  margin: 0;
}
/* end of styling about us section */

/* start of styling our skills section */
.skills {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #eee;
}

.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 150px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}

.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}

.skills .skill-box .skill-progress span {
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* end of styling our skills section */

/* start of styling gallery section */
.gallery {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  text-align: center;
}

.gallery h2 {
  margin: 0 0 50px;
  text-align: center;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.gallery .images-box img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100;
}
.popup-box img {
  max-width: 100%;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.popup-box .close-button {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: var(--main-color);
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
/* end of styling gallery section */

/* start of styling timeline section */
.timeline {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #eee;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  /* Notice here that the margin left is - 0.5 of width */
  margin-left: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  background-color: var(--main-color);
  color: white;
  margin: 20px auto;
  width: 50px;
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: 4px;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .timeline .timeline-content .right::before,
  .timeline .timeline-content .left::before,
  .timeline .timeline-content .left .content::before,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 20px;
  background-color: white;
}

.timeline .timeline-content .right::before {
  /* 
    calculation: ( 0.5 * width ) + ( 25px width [50% - 25px above] ) + 3 px of border 
                  ( 0.5 * 14 ) + 25 + 3 = 35
  */
  left: -35px;
}

.timeline .timeline-content .left::before {
  /* 
    calculation: ( 0.5 * width ) + ( 25px width [50% - 25px above] ) + 3 px of border 
                  ( 0.5 * 14 ) + 25 + 3 = 35
  */
  right: -35px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: white;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  top: 20px;
  position: absolute;
}

.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent white;
  right: -20px;
}

.timeline .timeline-content .right .content::before {
  border-color: transparent white transparent transparent;
  left: -20px;
}

.timeline .timeline-content .content h3 {
  color: var(--main-color);
  margin: 0 0 10px;
  font-weight: bold;
}
.timeline .timeline-content .content p {
  line-height: 1.6;
  color: var(--paragraph-color);
  margin: 0;
}

.clearfix {
  clear: both;
}
/* end of styling timeline section */

/* start of styling features section */
.features {
  padding-top: calc(var(--padding-section) + 30px);
  padding-bottom: calc(var(--padding-section) + 30px);
}

.features h2 {
  text-align: center;
  margin: 0 0 60px;
}

.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 767px) {
  .features .feat-box {
    width: 100%;
  }
}

.features .feat-box img {
  width: 96px;
}

.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .feat-box h4::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 4px;
  background-color: var(--main-color);
  left: 50%;
  bottom: -22px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: var(--paragraph-color);
}
/* end of styling features section */

/* start of styling testimonials section */
.testimonials {
  position: relative;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.testimonials::before,
.testimonials::after {
  content: "";
  width: 50%;
  position: absolute;
  top: 0;
  height: 100%;
}

.testimonials::before {
  left: 0;
  background-color: var(--main-color);
}

.testimonials::after {
  right: 0;
  background-color: #333;
}

.testimonials h2 {
  color: white;
  margin: 0 0 30px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}

.testimonials .testimonials-box {
  width: calc(98% / 3);
  float: left;
  margin: 0 0 30px;
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .testimonials .testimonials-box {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
}

.testimonials .testimonials-box:not(:last-of-type) {
  margin-right: 1%;
}

.testimonials .testimonials-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: var(--paragraph-color);
  font-style: italic;
}

.testimonials .testimonials-box .info {
  overflow: hidden;
}

@media (max-width: 991px) {
  .testimonials .testimonials-box .info {
    text-align: center;
    overflow: visible;
  }
}

.testimonials .testimonials-box .info img {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 991px) {
  .testimonials .testimonials-box .info img {
    float: none;
    margin-right: 0;
  }
}

.testimonials .testimonials-box .info h4 {
  margin: 15px 0 5px;
  color: var(--main-color);
}

.testimonials .testimonials-box .info p {
  margin: 0;
  color: var(--paragraph-color);
}

/* end of styling testimonials section */

/* start of styling contact us section */
.contact-us {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-image: url("../imgs/contact.png");
  position: relative;
}

.contact-us .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 60%);
  left: 0;
  top: 0;
}

.contact-us .container {
  position: relative;
}

.contact-us h2 {
  margin: 0 0 60px;
  text-align: center;
}

.contact-us form {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 767px) {
  .contact-us form {
    flex-direction: column;
  }
}

.contact-us form div {
  width: 49%;
}
@media (max-width: 767px) {
  .contact-us form div {
    width: 100%;
  }
}

.contact-us form input {
  height: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-us form input:not([type="submit"]),
.contact-us form textarea {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(218, 218, 218, 0.2);
}

.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
  outline: 1px solid var(--main-color);
}

.contact-us textarea {
  height: 150px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-us form [type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.contact-us form input:not([type="submit"]):focus::placeholder,
.contact-us form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end of styling contact us section */

/* start of styling footer section */
footer {
  background-color: #333;
  padding: 15px;
  color: white;
  text-align: center;
}
/* end of styling footer section */
